/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

// ---------------- VARIABLES ---------------- //
$ameriprise-blue-light: #6284AB;
$ameriprise-blue: #003D6D;
$ameriprise-gray-dark: #53626F;
$ameriprise-gray-light: #A2A4A9;

$ameriprise-font-family: "ITCFRANKGOFORAMERIPRISE-BOOK";

$header-height: 50px;
// ---------------- variables ---------------- //

// ---------------- PAGE ---------------- //
body, html, [id^="senna_surface"], .flipped, .senna_surface1-default {
}

body {
	background-color: pink; // DEBUG
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
}

.container {
	@include media-query($screen-sm-min, $screen-md-max) {
		width: initial;
	}
}

.advisor-compass-override.has-control-menu {
	#banner, #navigationWrapper {
		top: $has-control-menu-margin-top-mobile;

		@include sm() {
			top: $has-control-menu-margin-top-desktop;
		}
	}

	&.has-customization-menu #banner, &.has-customization-menu #navigationWrapper {
		top: ($has-control-menu-margin-top-mobile + $has-customization-menu-margin-top-mobile);

		@include sm() {
			top: ($has-control-menu-margin-top-desktop + $has-customization-menu-margin-top-desktop);
		}
	}

	#wrapper {
		margin-top: 0;
		padding-top: ($header-height + $has-control-menu-margin-top-mobile);

		@include sm() {
			padding-top: ($header-height + $has-control-menu-margin-top-desktop);
		}
	}

	&.has-customization-menu #wrapper {
		margin-top: 0;
		padding-top: ($header-height + $has-control-menu-margin-top-mobile + $has-customization-menu-margin-top-mobile);

		@include sm() {
			padding-top: ($header-height + $has-control-menu-margin-top-desktop + $has-customization-menu-margin-top-desktop);
		}
	}
}

#wrapper {
	margin-top: 0;
	padding-top: $header-height;
}

.display-table-cell {
	display: table-cell;
}

.display-table {
	display: table;
}

// ---------------- page ---------------- //

// ---------------- HEADER/BANNER ---------------- //
body.open .ac-header {
	left: 320px;
}

body.open-admin-panel .ac-header {
	right: 320px;
}

body.sidenav-transition .ac-header {
	@include transition(all 0.5s ease);
}

.ac-header {
	background-color: $ameriprise-blue;
	color: #FFF;
	font-family: $ameriprise-font-family;
	font-size: 14px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.ac-header-btn {
	background-color: transparent;
	border-width: 0;
	color: #FFF;
	height: $header-height;
	padding: 3px 0 0 0;
	width: 50px;

	&:focus,
	&:hover {
		color: #FFF;
	}
}

#acHeaderSearchBar {
	@include media-query(null, $screen-xs-max) { // max-width 769px
		background-color: $ameriprise-blue-light;
		left: 0;
		position: absolute;
		right: 0;
		top: 100%;
	}

	@include sm() { // min-width: 770px
		float: left;
	}

	form {
		@include lg() { // min-width: 1200px
			width: 360px;
		}

		@include sm() { // min-width: 770px
			width: 300px;
		}
	}

	.input-container {
		position: relative;
	}

	.form-control {
		border-color: #000;
		border-radius: 0;
		font-size: 14px;
		padding: 10px 40px 10px 10px;

		@include lg() { // min-width: 1200px
			padding-right: 5px;
		}

		@include sm() { // min-width: 770px
			border-width: 0;
			line-height: 24px;
			padding-bottom: 5px;
			padding-left: 5px;
			padding-top: 5px;
		}
	}

	.form-group,
	.lfr-ddm-field-group,
	.portlet {
		margin: 0;
	}

	.form-group-inline {
		display: block;
	}

	.lfr-ddm-field-group {
		margin-top: -20px;
		position: absolute;
		right: 0;
		top: 50%;

		.icon-monospaced {
			@include monospace(40px);
		}

		@include lg() { // min-width: 1200px
			display: none;
		}
	}

	.lfr-icon-item {
		background-color: #265982;
		border-radius: 100px;
		color: #FFF;
		display: inline-block;

		@include monospace(32px);

		.lexicon-icon {
			height: 20px;
			margin-left: 4px;
			margin-top: 2px;
			width: 20px;
		}
	}

	.portlet-body {
		margin: 10px;

		@include sm() { // min-width 770px
			margin: 8px 20px;
		}
	}

	.portlet-content {
		border-width: 0;
	}

	.portlet-title-text,
	.portlet-topper {
		display: none;
	}

	.search-input {
		color: #000;
	}
}

#acHeaderSearchBar.collapse {
	@include sm() { // min-width: 770px
		display: block;
		height: auto !important;
	}
}

.ac-header-left {
	float: left;
}

.ac-header-right {
	float: right;
}

.ac-header-btn-label {
	font-size: 12px;
	padding-top: 4px;
	text-transform: uppercase;
}

.ac-header-search-toggle {
	float: left;

	.search-toggle-closed-icon {
		display: none;
	}

	.search-toggle-open-icon {
		display: inline-block;
	}
}

.ac-header-search-toggle.collapsed {
	.search-toggle-closed-icon {
		display: inline-block;
	}

	.search-toggle-open-icon {
		display: none;
	}
}

.ac-header-site-links {
	float: right;
	// margin-top: 14px;
}

.ac-header-site-link-item {
	display: block;
	float: left;
	height: $header-height;
	line-height: $header-height;
	margin-left: 20px;
	padding: 1px 8px 0;
	text-transform: none;

	&:hover, & {
		color: #FFF;
		text-decoration: none;
	}

	&:first-child {
		margin-left: 0;
	}

	&.user-greeting {
		max-width: 230px;
	}
}

.site-logo {
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	height: $header-height;

	@include media-query(null, $screen-xs-max) { // max-width: 769px
		background-image: url(../images/AdvisorCompass_smallLogo_200.png);
		background-size: 100%;
		width: 150px;
	}

	@include sm() { // max-width: 770px
		background-image: url(../images/LOGO.PNG);
		background-size: 100%;
		margin: 0 10px;
		width: 272px;
	}
}
// ---------------- header/banner ---------------- //

// ---------------- NAVIGATION ---------------- //
@include media-query(null, $screen-md-max) {
	#navigationOverlay {
		background-color: rgba(255, 255, 255, 0.5);
		cursor: pointer;
		height: 0;
		left: 0;
		opacity: 0;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		z-index: 1;

		@include transition(
			height 0.0s 0.3s,
			opacity 0.3s,
			visibility 0.3s
		);

		&.open {
			height:100%;
			opacity: 1;
			visibility: visible;

			@include transition(
				height 0.0s 0.0s,
				opacity 0.3s,
				visibility 0.3s
			);
		}
	}
}

#navigationWrapper{
	@include media-query(null, $screen-md-max) {
		bottom: 0;
		left: 100%;
		overflow: hidden;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		z-index: 1033;

		@include transform(scale(1));

		@include transition(
			left 0.3s,
			visibility 0.3s,
			width 0.3s
		);

		&.open {
			visibility: visible;
		}
	}

	@include media-query(null, $screen-xs-max) {
		width: 85%;

		&.open {
			left: 15%;
		}
	}

	@include media-query($screen-sm-min, $screen-md-max) {
		width: 40%;

		&.open {
			left: 60%;
		}
	}
}

#navigationHeaderControls {
	@include media-query(null, $screen-md-max) {
		background-color: $ameriprise-blue;
		border-bottom: 1px solid $ameriprise-gray-light;
		height: $header-height;
	}

	@include media-query($screen-lg-min, null) {
		display: none;
	}
}

#navigationBack {
	height: 0;
	opacity: 0;
	padding-left: 10px;
	padding-right: 10px;
	visibility: hidden;
	width: auto;

	@include transition(
		height 0.0s 0.3s,
		opacity 0.3s,
		visibility 0.0s 0.3s
	);

	&.open {
		height: $header-height;
		opacity: 1;
		visibility: visible;

		@include transition(
			height 0.0s 0.0s,
			opacity 0.3s,
			visibility 0.0s 0.0s
		);
	}

	.ac-header-btn-icon {
		float: left;
		margin-right: 8px;
	}

	.ac-header-btn-label {
		float: left;
		text-transform: none;
	}
}

#navigation {
	// ---------------- NAV LOOK ---------------- //
	@include media-query(null, $screen-md-max) {
		background-color: $ameriprise-blue;
	}

	.tagline {
		@include media-query(null, $screen-md-max) {
			display: none;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		&.focused, .menuitem-title:hover, .menuitem-title:focus {
			@include media-query(null, $screen-md-max) {
				background-color: $ameriprise-blue-light;
			}
		}
	}

	.lvl1, .lvl2, .lvl3 {
		@include media-query(null, $screen-md-max) {
			background-color: $ameriprise-blue;
		}

		li {
			@include media-query(null, $screen-md-max) {
				background-color: $ameriprise-gray-dark;
				border-bottom: 1px solid $ameriprise-gray-light;
			}
		}

		.glyphicon-chevron-right, .glyphicon-plus {
			@include media-query(null, $screen-md-max) {
				position: absolute;
				right: 10px;
				top: 33%;
			}

			@include media-query($screen-lg-min, null) {
				display: none;
			}
		}

		.menuitem-title > .glyphicon-plus {
			@include transition(all 0.3s);
		}

		.open > .menuitem-title > .glyphicon-plus {
			@include transform(rotate(135deg));
		}
	}

	.menuitem-title {
		cursor: pointer;
		display: block;
		font-family: $ameriprise-font-family;
		text-decoration: none;

		@include user-select(none);

		@include media-query(null, $screen-md-max) {
			color: #FFF;
			font-size: 14px;
			line-height: 1.3;
			min-height: 40px;
			padding: 14px 25px 8px 10px;
			position: relative;
			text-transform: uppercase;
		}
	}

	.nav-footer {
		@include media-query($screen-lg-min, null) {
			display: none;
		}

		.menuitem-title {
			text-transform: none;
		}

		.glyphicon {
			padding-right: 5px;
		}
	}

	h2 {
		background-color: $ameriprise-gray-light;
		color: #000;
		font-size: 10px;
		line-height: 20px;
		margin: 0;
		padding: 0 10px;
		text-transform: uppercase;
	}

	.active-profile {
		ul {
			padding-bottom: 20px;
		}

		.menuitem-title {
			margin-bottom: 0;
			font-weight: normal;
		}

		input[type="radio"] {
			margin: 0;
			vertical-align: text-top;
		}
	}

	#navLogout {
		.menuitem-title {
			padding: 15px 20px;
		}

		button {
			color: #000;
		}
	}

	.lvl1 {
		li {
		}
	}

	.lvl2 {
		li {
		}
	}

	.lvl3 {
		li {
		}
	}

	.lvl4 {
		@include media-query(null, $screen-md-max) {
			li {
				background-color: $ameriprise-gray-light;
				border-bottom: 1px solid $ameriprise-gray-dark;
			}

			.menuitem-title {
				color: #000;
				text-transform: none;
			}
		}
	}
	// ---------------- nav look ---------------- //

	// ---------------- NAV ANIMATION ---------------- //
	.lvl1 {
		@include media-query(null, $screen-md-max) {
			left: 0;
			right: 0;

			@include transition(
				left 0.3s,
				right 0.3s,
				visibility 0.3s
			);
		}
	}

	.lvl1, .lvl2 {
		@include media-query(null, $screen-md-max) {
			&.child-open {
				left: -100% !important;
				right: 100% !important;
				visibility: hidden !important;
			}
		}
	}

	.lvl2, .lvl3 {
		@include media-query(null, $screen-md-max) {
			left: 100%;
			right: -100%;
			visibility: hidden;

			@include transition(
				left 0.3s,
				right 0.3s,
				visibility 0.3s
			);
		}
	}

	.open > {
		.lvl2, .lvl3 {
			@include media-query(null, $screen-md-max) {
				left: 0;
				right: 0;
				visibility: visible;
			}
		}
	}

	.lvl1, .lvl2, .lvl3 {
		@include media-query(null, $screen-md-max) {
			bottom: 0;
			position: fixed;
			top: $header-height;
			z-index: 1;

			ul {
				height: 100%;
				overflow-y: auto;
			}
		}
	}

	.lvl4 {
		@include media-query(null, $screen-md-max) {
			max-height: 0;
			overflow: hidden;
			visibility: hidden;

			ul {
				height: 100%;
				overflow-y: auto;
			}

			@include transition(
				max-height 0.1s,
				visibility 0.1s
			);
		}
	}

	.open > {
		.lvl4 {
			@include media-query(null, $screen-md-max) {
				max-height: 900px;
				visibility: visible;

				@include transition(
					max-height 0.6s,
					visibility 0.0s
				);
			}
		}
	}
	// ---------------- nav animation ---------------- //
}


// ------------ Navigation Large ------------ //
@include lg() {
	#navigation {
		width: 100%;
	}

	.advisor-compass-override.has-control-menu #navigationWrapper {
		top: 0;
	}

	#navigationWrapper {
		background-color: #FFF;
		border-bottom: 2px solid #B1B1B1;
		position: relative;
		top: 0;
		z-index: 3;

		.container {
			position: relative;
		}
	}

	.lvl1 {
		font-size: 16px;
		float: right;
	}

	.lvl1 > ul > li {
		display: inline-block;
		float: left;
	}

	.lvl1 > ul > li > .menuitem-title {
		font-size: 18px;
	}

	.lvl1 > ul > .selected > .menuitem-title {
		@include arrow-up-inner;
	}

	.lvl1 > ul > .open > .menuitem-title {
		@include arrow-down;
	}

	.lvl1 .menuitem-title {
		color: #000;
		padding: 16px 25px;
	}

	.lvl2 {
		background-color: #FFF;
		border-top: 2px solid #B1B1B1;
		display: none;
		left: 0;
		position: absolute;
		width: 100%;
	}

	.lvl2 > ul > li {
		background-color: #F8F8F8;
		border-bottom: 1px solid #E6E6E6;
		width: 200px;
	}

	.lvl2 > ul > li:first-child .lvl3 {
		display: block;
	}

	.lvl2 > li:last-child {
		border-bottom-width: 0;
	}

	.lvl2 > ul > li > .menuitem-title,
	.lvl3 > ul > li > .menuitem-title {
		font-weight: 600;
	}

	.lvl2 > ul > .open {
		background-color: #FFF;
	}

	.lvl3 {
		background-color: #FFF;
		bottom: 0;
		display: none;
		left: 200px;
		overflow: auto;
		position: absolute;
		right: 0;
		top: 0;
	}

	.lvl3 > ul > li {
		float: left;
		width: 25%;
	}

	.lvl3 > ul > li:nth-of-type(5) {
		clear: left;
	}

	.lvl3 > ul > li > .menuitem-title {
		display: table-cell;
		height: 67px;
		padding-bottom: 0;
		padding-top: 15px;
		text-transform: uppercase;
	}

	.lvl4 > ul > li > .menuitem-title {
		padding-bottom: 6px;
		padding-top: 6px;
	}

	.open > .child-menu {
		display: block;
	}

	.tagline {
		color: #000;
		float: left;
		font-family: $font-family-serif;
		font-size: 24px;
		padding-bottom: 11px;
		padding-top: 11px;
	}
}
// ------------ End Navigation Large ------------ //

// ---------------- navigation ---------------- //

// ---------------- CONTENT ---------------- //
#content {
	padding-top: 40px;
}
// ---------------- content ---------------- //